#blog #testArea {
    margin: auto;
    background-color: darkslategrey;
    color: darkturquoise;
    border: solid 2px black;
    width: 250px;
    height: 250px;
}

#blog #btn-addPost {
    margin-bottom: 2%;
}